.content-list4-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list4-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list4-content14 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul1 {
  align-items: flex-start;
}
.content-list4-li10 {
  align-items: flex-start;
}
.content-list4-heading7 {
  align-self: center;
  text-align: center;
}
.content-list4-content7 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list4-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list4-content15 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul3 {
  align-items: flex-start;
}
.content-list4-li13 {
  align-items: flex-start;
}
.content-list4-heading1 {
  align-self: center;
  text-align: center;
}
.content-list4-content1 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list4-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list4-content16 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul5 {
  align-items: flex-start;
}
.content-list4-li19 {
  align-items: flex-start;
}
.content-list4-heading10 {
  align-self: center;
  text-align: center;
}
.content-list4-content10 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list4-ul6 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list4-fragment10 {
  display: contents;
}
.content-list4-text10 {
  display: inline-block;
}
.content-list4-fragment11 {
  display: contents;
}
.content-list4-text11 {
  display: inline-block;
}
.content-list4-fragment12 {
  display: contents;
}
.content-list4-text12 {
  display: inline-block;
}
.content-list4-fragment13 {
  display: contents;
}
.content-list4-text13 {
  display: inline-block;
}
.content-list4-fragment14 {
  display: contents;
}
.content-list4-text14 {
  display: inline-block;
}
.content-list4-fragment15 {
  display: contents;
}
.content-list4-text15 {
  display: inline-block;
}
.content-list4-fragment16 {
  display: contents;
}
.content-list4-text16 {
  display: inline-block;
}
.content-list4-fragment17 {
  display: contents;
}
.content-list4-text17 {
  display: inline-block;
}
.content-list4-fragment18 {
  display: contents;
}
.content-list4-text18 {
  display: inline-block;
}
.content-list4-fragment19 {
  display: contents;
}
.content-list4-text19 {
  display: inline-block;
}
.content-list4-fragment20 {
  display: contents;
}
.content-list4-text20 {
  display: inline-block;
}
.content-list4-fragment21 {
  display: contents;
}
.content-list4-text21 {
  display: inline-block;
}
.content-list4-fragment22 {
  display: contents;
}
.content-list4-text22 {
  display: inline-block;
}
.content-list4-fragment23 {
  display: contents;
}
.content-list4-text23 {
  display: inline-block;
}
.content-list4-fragment24 {
  display: contents;
}
.content-list4-text24 {
  display: inline-block;
}
.content-list4-fragment25 {
  display: contents;
}
.content-list4-text25 {
  display: inline-block;
}
.content-list4-fragment26 {
  display: contents;
}
.content-list4-text26 {
  display: inline-block;
}
.content-list4-fragment27 {
  display: contents;
}
.content-list4-text27 {
  display: inline-block;
}
.content-list4-fragment28 {
  display: contents;
}
.content-list4-text28 {
  display: inline-block;
}
.content-list4-fragment29 {
  display: contents;
}
.content-list4-text29 {
  display: inline-block;
}
.content-list4-fragment30 {
  display: contents;
}
.content-list4-text30 {
  display: inline-block;
}
.content-list4-fragment31 {
  display: contents;
}
.content-list4-text31 {
  display: inline-block;
}
.content-list4-fragment32 {
  display: contents;
}
.content-list4-text32 {
  display: inline-block;
}
.content-list4-fragment33 {
  display: contents;
}
.content-list4-text33 {
  display: inline-block;
}
.content-list4-fragment34 {
  display: contents;
}
.content-list4-text34 {
  display: inline-block;
}
@media(max-width: 767px) {
  .content-list4-ul2 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list4-ul4 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list4-ul6 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list4-ul2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list4-ul4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list4-ul6 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
